

body {padding: 0; background-image: url(../images/sayagata-400px-pattern.png)}
header, nav, main, footer {max-width: 75rem; margin: 0 auto;}

div#wrapper {
    max-width: 75rem;
    margin: 0 auto;
    box-shadow: 0 0 10px #000;
    background-color: #FFF;
}
div#headerWrapper {
    background-color: $accent;
}

header {
    
    
}

nav {
    ul li {width: 5rem;}
    
} // end nav

main {
    
    div.actionCall {

        margin: 0;
    }
    
    // making the actual columns
    @for $i from 1 through 12 {
        $w:($i / 12) * 100%;
        .large-#{$i} { flex-basis: $w; }
    } // end loop

   
} // end main