header {
    //position: relative;
    
    height: 145px;
}
    
nav {
        
       ul {
        
        border-left: 1px solid rgba(0,0,0,0.3);
        ul li {width: auto;}
        ul li a {padding: .5rem .5rem;}  
        }
    
        ul li {width: 7rem;}
    }    
    


main {
    
    div.storyGrid {
        grid-template-columns: repeat(3, 1fr);
        
    }
    
    figure.mainStory {
        grid-column: 1 / span 3;
    }

}

footer {
    div.linkGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}