/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Prevent adjustments of font size afer orientation changes in IE on Windows Phone and in iOS */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* body stlyings */
body {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px; }

/* ------------------------- header ------------------------- */
header {
  height: 130px;
  background-color: #8cac0a;
  position: relative;
  color: #1D5D85;
  padding: 2%;
  border-bottom: 5px solid #1D5D85; }
  header form {
    float: right; }
  header form input {
    width: 6rem;
    border-radius: 10px;
    margin-right: 2%;
    padding: .2rem;
    border: none;
    transition: width .5s; }
  header form input:focus {
    width: 8rem; }
  header figure.logo {
    max-height: 110px; }
    header figure.logo img {
      width: 100%; }

/* ------------------------- navigation ------------------------- */
div#navWrapper {
  background-color: #8cac0a;
  border-top: 5px solid #617480; }

nav ul li {
  float: left;
  width: 16.6666666667%;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
nav ul li a {
  display: block;
  text-align: center;
  font-weight: 700;
  padding: .5rem 0;
  color: #1D5D85;
  text-decoration: none;
  transition: background 0.75s ease, color 0.75s ease; }
nav ul li a:hover {
  color: #b3dc0d;
  background-color: #617480; }
nav ul li.active a {
  background-color: #516406;
  color: #2b89c4; }

/* ------------------------- main ------------------------- */
main {
  /*----- COLUMNS -----*/
  background-color: #FFF; }
  main div.columnSet {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 2%; }
  main .small-1 {
    flex-basis: 8.3333333333%; }
  main .small-2 {
    flex-basis: 16.6666666667%; }
  main .small-3 {
    flex-basis: 25%; }
  main .small-4 {
    flex-basis: 33.3333333333%; }
  main .small-5 {
    flex-basis: 41.6666666667%; }
  main .small-6 {
    flex-basis: 50%; }
  main .small-7 {
    flex-basis: 58.3333333333%; }
  main .small-8 {
    flex-basis: 66.6666666667%; }
  main .small-9 {
    flex-basis: 75%; }
  main .small-10 {
    flex-basis: 83.3333333333%; }
  main .small-11 {
    flex-basis: 91.6666666667%; }
  main .small-12 {
    flex-basis: 100%; }
  main figure.chair {
    margin: .25rem; }
  main figure.chair img {
    width: 100%; }
  main h1 {
    font-size: 2rem;
    margin: 1rem 0 0 2%;
    color: #617480; }
  main h2 {
    font-size: 1.5rem;
    margin: 0.75rem 0 0 2%;
    color: #7a8e9a; }
  main h3 {
    font-size: 1.2rem;
    margin: 0.5rem 2%;
    color: #353f46; }
  main p {
    line-height: 120%;
    color: #343434;
    margin: .75rem; }
  main a {
    display: block;
    text-align: center;
    font-weight: 700;
    padding: .5rem 0;
    color: #1D5D85;
    text-decoration: none; }
  main button {
    background-color: #343434;
    font-variant-caps: all-small-caps;
    color: #8cac0a;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 10px; }
  main div.actionCall {
    background-color: #617480;
    border: solid #FFF 5px;
    margin: auto;
    text-align: center; }
  main div.actionCall h3 {
    font-variant-caps: all-small-caps;
    color: #8cac0a;
    font-size: 2rem;
    padding-top: .75rem;
    padding-bottom: .75rem; }
  main div.blogPost article {
    margin: 0.5rem 2%;
    width: 100%; }
    main div.blogPost article figure img {
      height: 150px; }
  main article.attorney {
    margin: 0.5rem 2%;
    width: 96%;
    text-align: center;
    background-color: #8cac0a;
    border: 1px solid #617480; }
    main article.attorney figure {
      width: 100%;
      padding: 0;
      margin: 0; }
  main hr.fadeAway {
    background: linear-gradient(to right, #1d5d85 0%, rgba(29, 93, 133, 0) 100%);
    height: 4px;
    border: none;
    margin: 0.5rem 2%; }

/* ------------------------- footer ------------------------- */
div#footerWrapper {
  background-color: #617480;
  border-top: 5px solid #1D5D85; }

footer {
  width: 100%;
  border-top: 3px solid #0e0e0e; }
  footer div.icons {
    text-align-last: center;
    margin: 10px 2%; }
  footer div.icons i {
    color: #1D5D85;
    font-size: 2rem;
    padding: 0 15px; }
  footer p {
    text-align: center;
    color: #0e0e0e;
    padding: .75rem 0;
    font-size: .9rem; }

/* Stay open (don't collapse) */
.stayopen:after {
  content: "";
  display: table;
  clear: both; }

/* media query */
@media only screen and (min-width: 35rem) {
  header {
    position: relative;
    height: 120px; }

  nav ul {
    border-left: 1px solid rgba(0, 0, 0, 0.3); }
    nav ul ul li {
      width: auto; }
    nav ul ul li a {
      padding: .5rem .5rem; }

  main .medium-1 {
    flex-basis: 8.3333333333%; }
  main .medium-2 {
    flex-basis: 16.6666666667%; }
  main .medium-3 {
    flex-basis: 25%; }
  main .medium-4 {
    flex-basis: 33.3333333333%; }
  main .medium-5 {
    flex-basis: 41.6666666667%; }
  main .medium-6 {
    flex-basis: 50%; }
  main .medium-7 {
    flex-basis: 58.3333333333%; }
  main .medium-8 {
    flex-basis: 66.6666666667%; }
  main .medium-9 {
    flex-basis: 75%; }
  main .medium-10 {
    flex-basis: 83.3333333333%; }
  main .medium-11 {
    flex-basis: 91.6666666667%; }
  main .medium-12 {
    flex-basis: 100%; } }
/* end media query */
/* media query */
@media only screen and (min-width: 60rem) {
  body {
    padding: 0;
    background-image: url(../images/sayagata-400px-pattern.png); }

  header, nav, main, footer {
    max-width: 75rem;
    margin: 0 auto; }

  div#mainWrapper {
    margin: 0 auto;
    box-shadow: 0 0 10px #000;
    background-color: #FFF; }

  div#headerWrapper {
    background-color: #1D5D85; }

  nav ul li {
    width: 5rem; }

  main div.actionCall {
    margin: 0; }
  main .large-1 {
    flex-basis: 8.3333333333%; }
  main .large-2 {
    flex-basis: 16.6666666667%; }
  main .large-3 {
    flex-basis: 25%; }
  main .large-4 {
    flex-basis: 33.3333333333%; }
  main .large-5 {
    flex-basis: 41.6666666667%; }
  main .large-6 {
    flex-basis: 50%; }
  main .large-7 {
    flex-basis: 58.3333333333%; }
  main .large-8 {
    flex-basis: 66.6666666667%; }
  main .large-9 {
    flex-basis: 75%; }
  main .large-10 {
    flex-basis: 83.3333333333%; }
  main .large-11 {
    flex-basis: 91.6666666667%; }
  main .large-12 {
    flex-basis: 100%; } }
/* end media query */

/*# sourceMappingURL=styles.css.map */
