header {
    height: 130px;
    background-image: url(../images/header1024.jpg);
    h1 {margin-top: 25px;}
    }
    
nav {
        
       ul {
        
        border-left: 1px solid rgba(0,0,0,0.3);
        ul li {width: auto;}
        ul li a {padding: .5rem 1rem;}  
        }
    }    
    


main {
    
    
    
    
  
}