/* Prevent adjustments of font size afer orientation changes in IE on Windows Phone and in iOS */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* body stlyings */
body {
  font-family: $defaultFont;
  font-weight: $normalWeight;
  font-size: 16px;
}

/* ------------------------- header ------------------------- */
header {
  height: 70px;
  background-color: $secondaryColor;

  color: $accent;
  padding: $gutter;
  border-bottom: 5px solid $accent;

  h1 {
    font-size: 2rem;
    font-weight: $normalWeight;
    padding-top: 5px;
  }
} // end header

/* ------------------------- navigation ------------------------- */
div#navWrapper {
  background-color: $secondaryColor;
  border-top: 5px solid $primaryColor;
  border-bottom: 5px solid $primaryColor;
}
nav {
  h1 {
    font-size: 2rem;
    margin: 1rem $gutter;
    color: $primaryColor;
  }
} //end nav

/* ------------------------- main ------------------------- */
//div#mainWrapper {}
main {
  background-color: #fff;

  /*----- COLUMNS -----*/

  div.columnSet {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  } // end parent

  div.getInThere {
    margin: $gutter;
  }
  figure.map {
    margin: $dblgutter;
    //border: 1px solid lighten($fontColor, 10%);
    border-radius: 15px;
  }

  figure.map img {
    width: 100%;
    border-radius: 15px;
  }

  figure.map figcaption {
    font-size: 1.5rem;
    padding: 5px 0;
  }

  div.sbs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    div {
      border: solid 1px $fontColor;
      display: flex;
      align-items: center;
      ion-icon {
        font-size: 2.5rem;
        color: $fontColor;
      }
      div.address {
        display: block;
        margin: 0.75rem;
        border: none;
        p {
          text-align: left;
          padding: 0;
          margin: 0;
        }
      }
    }
  }

  h1 {
    font-size: 2rem;
    margin: 1rem 0 0 $gutter;
    color: $primaryColor;
  }

  p {
    line-height: 120%;
    color: $fontColor;
    margin: 0.75rem;
  }
  a {
    display: block;
    text-align: center;
    font-weight: $boldWeight;
    padding: 0.5rem 0;
    color: $accent;
    text-decoration: none;
  }

  button {
    background-color: $fontColor;
    font-variant-caps: all-small-caps;
    color: $secondaryColor;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 10px;
  }

  div.location {
    margin: 0.5rem $gutter;
    width: 100%-$dblgutter;
    text-align: center;
    background-color: $secondaryColor;
    border: 1px solid $primaryColor;
    figure {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  hr.fadeAway {
    background: linear-gradient(
      to right,
      rgba(29, 93, 133, 1) 0%,
      rgba(29, 93, 133, 0) 100%
    );
    height: 4px;
    border: none;
    margin: 0.5rem $gutter;
  }
} // end main

/* ------------------------- footer ------------------------- */
div#footerWrapper {
  background-color: $primaryColor;
  border-top: 5px solid $accent;
}

footer {
  width: 100%;
  border-top: 3px solid darken($fontColor, 15%);
  background-color: $primaryColor;

  display: flex;
  flex-wrap: nowrap;
  flex-basis: 1 1 33%;
  justify-content: space-evenly;
  div {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 33%;
  }

  div a {
    display: block;
    text-align: center;
    font-weight: $boldWeight;
    padding: 1rem 0;

    text-decoration: none;
    transition: background 0.75s ease, color 0.75s ease;
    ion-icon {
      text-align: center;
      color: $accent;
      font-size: 1.5rem;
    
    }
    p {
      text-align: center;
      font-size: 1.1rem;
      color: $accent;
    }
  }

  div a:hover {
    color: lighten($secondaryColor, 10%);
    background-color: $primaryColor;
  }
  div.active a {
    background-color: darken($secondaryColor, 15%);
    color: lighten($accent, 15%);
  }
}

/* Stay open (don't collapse) */
.stayopen:after {
  content: "";
  display: table;
  clear: both;
}
