$primaryColor: #617480;
$secondaryColor: #92948a;
$accent: rgb(16, 65, 95);
$fontColor: #3d0a0a;

$gutter: 2%;
$dblgutter: (2 * $gutter);

$defaultFont: 'PT Sans Narrow', sans-serif;
$normalWeight:400;
$boldWeight:700;