/* Prevent adjustments of font size afer orientation changes in IE on Windows Phone and in iOS */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%}

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body stlyings */
body {
    font-family: $defaultFont;
    font-weight: $normalWeight;
    font-size: 16px;
}


/* ------------------------- header ------------------------- */
header {
    display: flex;
    background-color: $primaryColor;
    color: $secondaryColor;
    padding: $gutter;
    border-bottom: 5px solid $accent;
    max-height: 200px;
    
    figure.logo {
        width: 20vw; 
        max-width: 150px;
    }
    figure.logo img {width: 100%;}
    
    div#headerStuff {
        flex: 1;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        
    }
    div#headerStuff>*:first-child {align-self: stretch;}
    div#headerForm {align-content: flex-end; align-self: flex-start;}
    div#headerTitle {
        flex: 1 100%;
        align-self: flex-end;
        align-content: flex-start;
        margin-top: 2.15*$dblgutter;
    }
    
    form {}
    form input {
        width: 6rem;
        border-radius: 10px;
        margin-right: $gutter;
        padding: .2rem;
        border: none;
        transition: width .5s;
    }
    form input:focus {width: 8rem;}
    
    h1 {
        font-size: 2rem;
        font-weight: $normalWeight;
    }
    h2 {
        font-size: 1.3rem;
        font-weight: $normalWeight;
    }
        h2.hidden {
        display: none;
    }
} // end header

/* ------------------------- navigation ------------------------- */
div#navWrapper {background-color: $secondaryColor;}
nav {
    
    ul li {
        float: left;
        width: 50%;
        border-right: 1px solid rgba(0,0,0,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.3);
    }
    ul li:last-child {border-right: 1px solid rgba(0,0,0,0.3);}
    ul li a {
        display: block;
        text-align: center;
        font-weight: $boldWeight;
        padding: .5rem 0;
        color: $primaryColor;
        text-decoration: none;
        transition: background 0.75s ease, color 0.75s ease;
    }
    

    ul li a:hover {
        color: $secondaryColor;
        background-color: $primaryColor;
    }
    ul li.active a  {
        background-color: darken($secondaryColor, 15%);
    }    
    
    
} //end nav



/* ------------------------- main ------------------------- */
main {
    
    figure.hero {width: 100%;}
    figure.hero img {width: 100%;}
    
    figure.photo {width: 100%-$gutter; margin: .5rem;}
    figure.photo img {width: 100%-$gutter;}
    

    background-color: #FFF;

    
    h1 {
        font-size: 2rem;
        margin: 1rem 0 0 $gutter;
        color: $primaryColor;
    }
    h2 {
        font-size: 1.5rem;
        margin: .75rem 0 0 $gutter;
        color: lighten($primaryColor, 10%);
    }
    


    p {
        line-height: 120%;
        color: $fontColor;
        margin: 1rem;
    }
    
    hr.fadeAway {
        background: linear-gradient(to right, rgba(255,201,0,1) 0%,rgba(255,201,0,0) 100%);
        height: 3px;
        border: none;
        margin: .5rem $gutter;
    }
    
    
    
      
} // end main
















/* ------------------------- footer ------------------------- */
div#footerWrapper {background-color: $primaryColor; border-top: 5px solid $accent;}
footer {
    width: 100%;
    
    
    p {
        text-align: center;
        color: $secondaryColor;
        padding: .75rem 0;
        font-size: .9rem;
    }
}




/* Stay open (don't collapse) */
.stayopen:after {
    content: "";
    display: table;
    clear: both;
}