

body {padding: 0; background-image: url(../images/sayagata-400px-pattern.png)}
header, nav, main, footer {max-width: 75rem; margin: 0 auto;}

header {
    
    div#headerTitle {
        margin-top: 3.45*$dblgutter;
    }
    
}

nav {
    ul {
        margin-left: $gutter;
        border-left: 1px solid rgba(0,0,0,0.3);
    }
    ul li {width: auto;}
    ul li a {
        padding: .5rem 1rem;
    }
} // end nav

main {
    
    figure.photo {width: 33.33%-$gutter;}
    
}


 // end main