/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* Prevent adjustments of font size afer orientation changes in IE on Windows Phone and in iOS */
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/* apply a natural box layout model to all elements */
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body stlyings */
body { font-family: "PT Sans Narrow", sans-serif; font-weight: 400; font-size: 16px; }

/* ------------------------- header ------------------------- */
header { height: 130px; background-color: #c6ff4d; position: relative; color: black; padding: 2%; /* social icons */ }

header figure.logo { position: absolute; bottom: 2%; left: 2%; top: 4%; }

header figure.logo img { width: 96%; float: left; border-radius: 2%; padding-right: 4%; }

header form { float: right; }

header form input { width: 6rem; border-radius: 10px; margin-right: 2%; padding: .2rem; border: none; -webkit-transition: width .5s; transition: width .5s; }

header form input:focus { width: 8rem; }

header h1, header h2 { margin-left: 120px; }

header h1 { font-size: 2rem; font-weight: 400; padding-top: 15px; }

header h2 { font-size: 1.2rem; font-weight: 400; }

header ul.social { margin-left: 120px; margin-top: 5px; }

header ul.social li { list-style-type: none; float: left; width: 25%; }

header ul.social li a { display: block; margin: 0 auto; background-image: url(../images/socialSprites.png); height: 45px; width: 45px; }

header ul.social .twitter a { background-position: -90px -45px; }

header ul.social .facebook a { background-position: -45px -45px; }

header ul.social .youtube a { background-position: -225px -45px; }

header ul.social .twitter a:hover { background-position: -90px 0px; }

header ul.social .facebook a:hover { background-position: -45px 0px; }

header ul.social .youtube a:hover { background-position: -225px 0px; }

/* ------------------------- navigation ------------------------- */
div#navWrapper { background-color: #59A11E; border-top: 5px solid #A550FF; }

nav ul li { float: left; width: 25%; border-right: 1px solid rgba(0, 0, 0, 0.3); border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

nav ul li:last-child { border-right: 1px solid rgba(0, 0, 0, 0.3); }

nav ul li a { display: block; text-align: center; font-weight: 700; padding: .5rem 0; color: #AEFF00; text-decoration: none; -webkit-transition: background 0.75s ease, color 0.75s ease; transition: background 0.75s ease, color 0.75s ease; }

nav ul li a:hover { color: #71cc26; background-color: #A550FF; }

nav ul li.active a { background-color: #356112; color: #c6ff4d; }

/* ------------------------- main ------------------------- */
main { background-color: #FFF; }

main article { margin: 0.5rem 2%; }

main article.lazyGallery figure { width: 100%; height: 0; padding-bottom: 66%; }

main article.lazyGallery figure img { width: 100%; }

main figure.chair { width: 31%; float: right; -webkit-clip-path: circle(50% at 50% 50%); clip-path: circle(50% at 50% 50%); shape-outside: circle(50% at 50% 50%); margin: .25rem; }

main figure.chair img { width: 100%; }

main h1 { font-size: 2rem; margin: 1rem 0 0 2%; color: #A550FF; }

main h2 { font-size: 1.5rem; margin: 0.75rem 0 0 2%; color: #bf83ff; }

main h3 { font-size: 1.2rem; margin: 0.5rem 2%; color: #7100e9; }

main p { line-height: 120%; color: #7B00D4; margin: .75rem; }

main div.member article { margin: 0.5rem 2%; width: 96%; }

main hr.fadeAway { background: -webkit-gradient(linear, left top, right top, from(#eb14ea), to(rgba(252, 194, 13, 0))); background: linear-gradient(to right, #eb14ea 0%, rgba(252, 194, 13, 0) 100%); height: 4px; border: none; margin: 0.5rem 2%; }

/* ------------------------- footer ------------------------- */
div#footerWrapper { background-color: #A550FF; border-top: 5px solid #AEFF00; }

footer { width: 100%; }

footer p { text-align: center; color: #7B00D4; padding: .75rem 0; font-size: .9rem; }

/* Stay open (don't collapse) */
.stayopen:after { content: ""; display: table; clear: both; }

/* media query */
@media only screen and (min-width: 35rem) { header { position: relative; }
  header ul.social { position: absolute; bottom: .5rem; right: 2%; }
  header ul.social li { width: auto; }
  nav ul { border-left: 1px solid rgba(0, 0, 0, 0.3); }
  nav ul ul li { width: auto; }
  nav ul ul li a { padding: .5rem 1rem; }
  main figure.photo { width: 48%; }
  main figure.founder { width: 58.3vw; float: right; }
  main figure.founder img { width: 100%; }
  main div.member article { float: left; width: 46%; } }

/* end media query */
/* media query */
@media only screen and (min-width: 60rem) { body { padding: 0; background-image: url(../images/sayagata-400px-pattern.png); }
  header, nav, main, footer { max-width: 75rem; margin: 0 auto; }
  div#wrapper { max-width: 75rem; margin: 0 auto; -webkit-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; background-color: #FFF; }
  div#headerWrapper { background-color: #AEFF00; }
  nav ul li { width: 10rem; }
  main .row { clear: both; }
  main .column { padding: 0 2%; }
  main .large-i { width: 8.33333%; float: left; }
  main .large-i { width: 16.66667%; float: left; }
  main .large-i { width: 25%; float: left; }
  main .large-i { width: 33.33333%; float: left; }
  main .large-i { width: 41.66667%; float: left; }
  main .large-i { width: 50%; float: left; }
  main .large-i { width: 58.33333%; float: left; }
  main .large-i { width: 66.66667%; float: left; }
  main .large-i { width: 75%; float: left; }
  main .large-i { width: 83.33333%; float: left; }
  main .large-i { width: 91.66667%; float: left; }
  main .large-i { width: 100%; float: left; }
  main article { margin: .5rem 15%; }
  main div.member article { width: 21%; } }

/* end media query */
