$primaryColor: #617480;
$secondaryColor: #b9cc6d;
$accent: rgb(16, 65, 95);
$fontColor: #3d0a0a;

$gutter: 2%;
$dblgutter: (2 * $gutter);

$defaultFont: 'PT Sans Narrow', sans-serif;
$normalWeight:400;
$boldWeight:700;

$maxWidth: 64rem;