/* Prevent adjustments of font size afer orientation changes in IE on Windows Phone and in iOS */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* body stlyings */
body {
  font-family: $defaultFont;
  font-weight: $normalWeight;
  font-size: 16px;
}

/* ------------------------- header ------------------------- */
header {
  display: flex;

  color: $secondaryColor;
  padding: $gutter 0 0 $gutter;

  max-height: 200px;

  figure.logo {
    width: 8vw;
    max-width: 150px;
  }
  figure.logo img {
    width: 100%;
  }

  div#headerStuff {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  div#headerStuff > *:first-child {
    align-self: stretch;
  }

  div#headerTitle {
    flex: 1 100%;
    align-self: flex-end;
    align-content: flex-start;
    padding-left: 5px;
  }

  h1 {
    font-size: 2rem;
    font-weight: $boldWeight;
    color: $primaryColor;
  }
  h2 {
    font-size: 1.1rem;
    color: $fontColor;
    letter-spacing: 13px;
    text-transform: uppercase;
  }
  hr {
    padding: 0;
    margin: 0;
  }
} // end header

/* ------------------------- navigation ------------------------- */

nav {
  ul {
    padding-top: 0;
    margin-top: 0;
  }

  ul li a {
    display: block;
    text-align: center;
    font-weight: $normalWeight;
    padding: 0.5rem 0;
    color: $fontColor;
    text-decoration: none;
    font-size: 0.8rem;
    transition: background 0.75s ease, color 0.75s ease;
  }

  ul li a:hover {
    background-color: $primaryColor;
  }
  ul li.active a {
    background-color: darken($primaryColor, 18%);
  }
} //end nav

/* ------------------------- main ------------------------- */
main {
  figure.hero {
    width: 100%;
    img {
      width: 100%;
    }
  }

  div.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "left right";
    width: 100%;
    
    background-color: $secondaryColor;
    h1,
    h2 {
      color: $accent;
      text-transform: uppercase;
    }
    h3,
    p,
    li {
      color: $bannerFontColor;
    }
    .bannerRt {
      text-align: right;
      grid-area: right;
      margin: 0 $gutter;
    }
    .bannerLft {
      grid-area: left;
      margin: $dblgutter $gutter;
    }
  }

  h1 {
    font-size: 2rem;
    margin: 1rem 0 0 $gutter;
    color: $primaryColor;
  }
  h2 {
    font-size: 1.5rem;
    margin: 0.75rem 0 0 $gutter;
    color: lighten($primaryColor, 10%);
  }

  p {
    line-height: 120%;
    color: $fontColor;
    margin: 1rem;
  }

  hr {
    background-color: $fontColor;
    height: 1px;
    border: none;
    margin: 0.5rem $gutter;
  }

  div.thePspot {
    background-image: url("../images/aboutUs_gradient.png");
  }

  div.logoSpot {
    max-width: 100%;
    background-color: $bannerFontColor;
    display: inline-flex;
    flex-basis: auto;
    justify-content: space-between;
    img {
      padding: 10px;
      max-width: (100%/6);
    }
  }
} // end main

/* ------------------------- footer ------------------------- */
div#footerWrapper {
  background-color: $primaryColor;
}
footer {
  width: 100%;

  p {
    color: $bannerFontColor;
    padding: 0.75rem $gutter;
    font-size: 0.8rem;
  }
}

/* Stay open (don't collapse) */
.stayopen:after {
  content: "";
  display: table;
  clear: both;
}
