header {
    position: relative;
    
    height: 120px;
}
    
nav {
        
       ul {
        
        border-left: 1px solid rgba(0,0,0,0.3);
        ul li {width: auto;}
        ul li a {padding: .5rem .5rem;}  
        }
    }    
    


main {
    
    // making the actual columns
    @for $i from 1 through 12 {
        $w:($i / 12) * 100%;
        .medium-#{$i} { flex-basis: $w; }
    } // end loop

}