$primaryColor: #617480;
$secondaryColor: #AED0E6;
$accent: #1D5D85;
$fontColor: #2F383D;

$gutter: 2%;
$dblgutter: (2 * $gutter);

$defaultFont: 'PT Sans Narrow', sans-serif;
$normalWeight:400;
$boldWeight:700;