

body {padding: 0; background-image: url(../images/sayagata-400px-pattern.png)}
header, nav, main, footer {max-width: 71.25rem; margin: 0 auto;}

div#wrapper {
    max-width: 71.25rem;
    margin: 0 auto;
    box-shadow: 0 0 10px #000;
    background-color: #FFF;
}

nav {
   
    
} // end nav

main {
    
     div.gallery {
        figure.photo {flex-basis: 25%-$gutter;}
    }

    
} // end main