header {
         h2.hidden {
        display: contents;
    }
    
    nav {
        
       ul {
        margin-left: $gutter;
        border-left: 1px solid rgba(0,0,0,0.3);
        ul li {width: auto;}
        ul li a {padding: .5rem 1rem;}  
        }
    }    
    
}

main {
    
    div.gallery {
        figure {flex-basis: 33.33%-$gutter;}
    }

} // end main