

body {padding: 0; background-image: url(../images/sayagata-400px-pattern.png)}
header, nav, main, footer {max-width: 60rem; margin: 0 auto;}

div#wrapper {
    //max-width: 60rem;
    margin: 0 auto;
    box-shadow: 0 0 10px #000;
    background-color: #FFF;
}
div#headerWrapper {
    background-color: $accent;
}
div#navWrapper {
    //max-width: 60rem;
    margin: 0 auto;
}
div#mainWrapper {
    //max-width: 60rem;
    margin: 0 auto;
    //box-shadow: 0 0 10px #000;
    background-image: url(../images/sayagata-400px-pattern.png)
}

header {
    background-color: $accent;
    background-image: url(../images/header1600.jpg);
    h1, h2 {margin-left: 250px;}
}

//nav {} // end nav

//main {}// end main