$primaryColor: #076A39;
$secondaryColor: #0BC8E3;
$accent: #BCD94A;
$fontColor: #1418D9;

$gutter: 2%;
$dblgutter: (2 * $gutter);

$defaultFont: 'PT Sans Narrow', sans-serif;
$normalWeight:400;
$boldWeight:700;