$primaryColor: #A550FF;
$secondaryColor: #59A11E;
$accent: #AEFF00;
$fontColor: #7B00D4;

$gutter: 2%;
$dblgutter: (2 * $gutter);

$defaultFont: 'PT Sans Narrow', sans-serif;
$normalWeight:400;
$boldWeight:700;