/* grid area setup */
#wrapper {
  grid-template-areas:
    "header header"
    "regNav content"
    "footer footer";
}

header {
  //position: relative;

  height: 145px;
}
nav {
  .hide {
    display: none;
  }
  
}

 main {
    section figure:nth-child(1) {
    float: right;
  }

  section figure:nth-child(2) {
    float: left;
  }

  section figure:nth-child(3) {
    float: right;
  }
}

// footer {} // end footer
